<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv = "content-type" content = "text/html; charset = windows-1251">
    <title>Обновление данных</title>
</head>
<body>

    <form th:method="PATCH" th:action="@{/{id} (id=${person.getId()})}" th:object="${person}">
        <h2>обновление данных пользователя</h2>
        <fieldset>
            <legend>Данные пользователя</legend>
                <ul>
                    <li>
                    <label for="username">Введите Имя пользователя</label>
                    <input type="text" th:field="*{username}" placeholder="Sasha" id="username">
                </li>
                    <li>
                    <label for="name">Введите Имя</label>
                    <input type="text" th:field="*{name}" placeholder="Petrov" id="name">
                </li>
                    <li>
                    <label for="password">Введите Пароль</label>
                    <input type="password" th:field="*{password}" placeholder="********" id="password">
                </li>
                </ul>
        </fieldset>
        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>
    <form th:action="@{/logout}" th:method="POST">
        <button type="submit">Выход</button>
    </form>

</body>
</html>